body{
    margin:0;
    font-family: 'Poppins', sans-serif;
    background:black;
    color:white;
}

/* NAVBAR */
.navbar{
    display:flex;
    justify-content:space-between;
    padding:20px 40px;
    background:rgba(0,0,0,0.6);
    position:sticky;
    top:0;
}

.cart-btn{
    color:white;
    text-decoration:none;
}

/* HERO */
.hero{
    height:70vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background:linear-gradient(to bottom, #000, #111);
}

.hero h1{
    font-size:48px;
}

/* PRODUCT */
.product-container{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap:30px;
    padding:40px;
}

.product-card{
    background:#111;
    padding:20px;
    border-radius:20px;
    text-align:center;
    transition:0.3s;
}

.product-card:hover{
    transform:translateY(-10px);
    background:#1a1a1a;
}

.product-card img{
    width:100%;
    height:250px;
    object-fit:cover;
    border-radius:15px;
}

.product-card button{
    margin-top:10px;
    padding:10px 20px;
    border:none;
    background:white;
    color:black;
    border-radius:30px;
    cursor:pointer;
}
