*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{
background:#0b0b0b;
color:white;
}

/* NAV */

nav{
display:flex;
justify-content:space-between;
padding:20px 40px;
background:black;
}

/* HERO */

.hero{
height:50vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
background:linear-gradient(120deg,#1a1a1a,#3b003b);
}

/* COLLECTION */

.collection{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:30px;
padding:40px;
}

.card{
background:#111;
padding:15px;
border-radius:20px;
width:220px;
text-align:center;
transition:0.4s;
cursor:pointer;
}

.card:hover{
transform:translateY(-10px);
box-shadow:0 0 20px #ff00cc;
}

.card img{
width:100%;
border-radius:15px;
}

/* CART */

.cart-item{
display:flex;
justify-content:space-between;
background:#111;
padding:15px;
margin:10px;
border-radius:10px;
}

.cart-title{
text-align:center;
margin-top:30px;
}

.checkout{
display:block;
margin:30px auto;
padding:15px 30px;
background:#25D366;
border:none;
border-radius:10px;
color:white;
cursor:pointer;
}

/* POPUP */

.popup{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.8);
display:none;
justify-content:center;
align-items:center;
}

.popup-content{
background:#111;
padding:30px;
border-radius:15px;
text-align:center;
}

/* SCROLL ANIMATION */

.fade{
opacity:0;
transform:translateY(30px);
transition:1s;
}

.fade.show{
opacity:1;
transform:translateY(0);
}
