*{
margin:0;
padding:0;
box-sizing:border-box;
font-family: 'Segoe UI', sans-serif;
}

body{
background:#0b0b0b;
color:white;
}

/* NAV */

nav{
display:flex;
justify-content:space-between;
padding:25px 60px;
background:black;
}

nav ul{
display:flex;
gap:30px;
list-style:none;
opacity:0.8;
}

/* HERO */

.hero{
height:90vh;
background:url("https://images.unsplash.com/photo-1594035910387-fea47794261f");
background-size:cover;
background-position:center;
display:flex;
align-items:center;
padding-left:80px;
}

.hero-text{
max-width:500px;
}

.hero h1{
font-size:55px;
line-height:1.2;
margin-bottom:15px;
}

.hero p{
opacity:0.8;
margin-bottom:25px;
}

.hero button{
padding:12px 30px;
border:none;
background:white;
color:black;
cursor:pointer;
font-weight:bold;
}

/* STORY */

.story{
padding:80px 60px;
text-align:center;
max-width:800px;
margin:auto;
}

.story h2{
margin-bottom:20px;
font-size:35px;
}

/* PRODUCTS */

.products{
padding:60px;
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:30px;
}

.card{
background:#141414;
padding:20px;
border-radius:15px;
transition:0.3s;
}

.card:hover{
transform:translateY(-8px);
}

.card img{
width:100%;
border-radius:10px;
margin-bottom:15px;
}

.card h3{
margin-bottom:5px;
}

/* CTA */

.cta{
padding:80px;
text-align:center;
background:black;
}

.cta a{
margin-top:20px;
display:inline-block;
padding:12px 35px;
background:white;
color:black;
text-decoration:none;
font-weight:bold;
}
